[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gltflib = "*"
matplotlib="*"
moderngl="*"
numpy="*"
opencv-python="*"
pyrr = "*"
Pillow = "*"
office365-rest-python-client = "*"
trimesh = {extras = ["easy"], version = "*"}

[requires]
python_version = "3.9"
