[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy="*"
matplotlib="*"
moderngl="*"
opencv-python="*"
gltflib = "*"
pyrr = "*"

[dev-packages]

[requires]
python_version = "3.9"
