gltflib==1.0.13
moderngl>=5.8.2
numpy~=1.23.5
opencv-python>=4.7.0.72
Office365-REST-Python-Client>=2.4.1
Pillow>=9.5.0
pyrr>=0.10.3
trimesh[easy]==4.6.6
#trimesh[easy]==3.21.7
Rtree==1.3.0

embreex==2.17.7.post5

